<div class="panel">
  <p-panel header="Keevo Center" [toggleable]="true">

    <div class="main-form">
      <div class="sub-form1">
          <p>Imagem:</p>
          <span id="input-img">Dimensão: 805 x 380 | Extensões: .jpg ou .png</span>
          <label for="arquivo">Escolher arquivo</label>
          <input type="file" accept=".jpg, .png" name="arquivo" id="arquivo"/>
      </div>
      <div class="sub-form2">
          <p>Link:</p>
         <input type="url" id="input-link" value="Insira um link de direcionamento">
      </div>
    </div>

  </p-panel>
</div>
