<div class="collapse-panel" *ngIf="isVisible1">
  <div class="panel">
    <p-panel [header]="titulo" expandIcon="pi pi-arrow-up" collapseIcon="pi pi-arrow-down" [toggleable]="true">

      <div class="main-form">
        <div class="sub-form1">
          <p>Imagem:</p>
          <input type="text" disabled [placeholder]="dimensoes">
          <label for="arquivo1">Escolher arquivo</label>
          <input type="file" accept=".jpg, .png" name="arquivo1" id="arquivo1" (change)="onFileChange1($event)">
        </div>

        <div class="sub-form2">
          <p>Link:</p>
          <input type="url" id="input-link" placeholder="Insira um link de direcionamento" (input)="onUrlChange($event)">
        </div>
      </div>

        <h1 *ngIf="croppedImage1">Pré-visualização:</h1>
        <img *ngIf="croppedImage1" [src]="croppedImage1" alt="Imagem Recortada1">
        <p *ngIf="urlValue"><a [href]="urlValue" target="_blank">{{ urlValue }}</a></p>
        
    </p-panel>
  </div>
</div>
