<div class="collapse-panel" *ngIf="isVisible">
  <div class="panel">
    <p-panel [header]="titulo" expandIcon="pi pi-angle-up" collapseIcon="pi pi-angle-down" [toggleable]="true" [ngClass]="{'panel-header-red': areInputsFilled()}">

          <div class="main-form">
            <div class="sub-form1">
              <p>Imagem:</p>
              <input type="text" disabled [placeholder]="dimensoes">
              <label for="arquivo">Escolher arquivo</label>
              <input type="file" accept=".jpg, .png" name="arquivo" id="arquivo" (change)="onFileChange($event)">
            </div>
            
            <div class="sub-form2">
                <p>Link:</p>
                <input type="url" id="input-link" placeholder="Insira um link de direcionamento" (input)="onUrlChange($event)">
              </div>
          </div>

          <h1 *ngIf="croppedImage"> Pré-visualização: </h1>
          <img *ngIf="croppedImage" [src]="croppedImage" alt="Imagem Recortada">
          <p *ngIf="urlValue"><a [href]="urlValue" target="_blank">{{ urlValue }}</a></p>

        </p-panel>
    </div>
    

</div>

