:host ::ng-deep .p-panel-header {
    font-family: 'Baloo 2', cursive;
    margin-top: 1%;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    background-color: #414141;
    border: 1px solid #414141; 
}

:host ::ng-deep .p-panel-title	 {
    /* to do */
    margin-left: 45%;
}

:host ::ng-deep .p-panel-content {
    border: 1px solid #414141;
}

:host ::ng-deep .panel-header-red .p-panel-content {
    border: 1px solid #FC5A5A; 
}

:host ::ng-deep .panel-header-red .p-panel-header {
    background-color: #FC5A5A;
    border: 1px solid #FC5A5A; 
}

  

.panel {
    max-width: 1011px;
}

.main-form {
    display: flex;
    flex-direction: row;
}

input[type=text] {
    width: 460px;
    height: 100px;
    border-radius: 9px;
    border: 1px solid #000;
    background: #FFF;
}

label {
    margin-bottom: 1rem;
}

.sub-form1, .sub-form2 {
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: 'Baloo 2', cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

input::placeholder {
    padding-left: 0.5rem;
    font-family: 'Baloo 2', cursive;
    font-size: 16px;
    color: #495057;
}   

input, #input-link {
    font-family: 'Baloo 2', cursive;
    width: 460px;
    height: 38px;
    line-height: 2.3rem;
    border-radius: 9px;
    margin-right: 3%;
    color: #495057;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #000;
    background: #FFF;
}

.linee {
    width: 1px;
    height: 256px;
    background: #000;
}

.sub-form1 {
    margin-right: 1rem;
}

.sub-form2 {
    margin-left: 1rem;
}

p {
    margin-left: 5%;
}

h1 {
    margin-left: 5%;

}

h2 {
    margin-left: 5%;
    color: #000;
    font-family: 'Baloo 2', cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

a {
    color: #1787FF;
    font-family: 'Baloo 2', cursive;
    font-size: 14px;
    font-weight: 400;
}

.pre-visualizacao {
    margin-top: 5%;
    border-radius: 8px;
    background: rgba(217, 217, 217, 0.50);

}
